*.user
*.vspscc
*.vssscc
*.suo
*.bak
*.resharper
[Bb]uild/
[Bb]in
obj/
[Rr]elease*/
_ReSharper*/
*.crunchproject.*
*.crunchsolution.*
[Pp]ackages/
*.zip
*.dotCover
*.log*

/lib/Conventions/*
/lib/Fcs.NHibernate
/lib/Fcs.GlobalHive
/lib/EttService
/lib/Fcs.NHibernate.Web
/lib/FluentNHibernate
/lib/Reactive
/lib/ExpectEx
/lib/Connect.Security/*
/lib/NUnit/*
/lib/NServiceBus/*
/lib/Windsor/*
/lib/CommonServiceLocator/*
/lib/IJoinedFilter/*
/lib/NHibernate/*
/lib/NHibernate.Extensions/*
/lib/MVC/*
/lib/Kiodex.Client/*
/lib/Messaging/*
/lib/mongo4log4net
/lib/DotNetOpenAuth/*
/lib/Spark/*
/lib/xVal.dll
/lib/Raven/*
/lib/DotNetExtensions/*
/lib/Mongo/*
/*.msi